In [78]:
import pandas as pd

sp=pd.read_csv('spectro_18.csv')
id=pd.read_csv('img_data.csv')

In [79]:
lis=sp['time_s'].to_list()

for i in range(len(lis)):
    if lis[i]=='14:24:00':
        sp=sp.drop(index=i)

In [80]:
sp.loc[sp['Records']=='ud1_02:24','Records'] = 'ud1_14:24'
sp.loc[sp['Records']=='ud1_14:24','time_s'] = '14:24:00'
sp.loc[sp['Records']=='hd1_02:24','Records'] = 'hd1_14:24'
sp.loc[sp['Records']=='hd1_14:24','time_s'] = '14:24:00'

In [81]:
ud1_sp=sp[(sp['day_s']=='d1') & (sp['class_s']=='h')]
ud1_sp=ud1_sp.sort_values(by='time_s')
ud1_sp=ud1_sp.reset_index(drop=True)
ud1_sp

,Unnamed: 0,Records,day_s,time_s,class_s,410,435,460,485,510,...,610,645,680,705,730,760,810,860,900,940
0,87,hd1_11:45,d1,11:45:00,h,1262.16,1652.12,2403.90,1530.95,2006.45,...,2995.96,1365.51,2439.63,2141.37,8374.79,7423.94,7850.70,6576.72,2720.17,1667.3
1,43,hd1_11:54,d1,11:54:00,h,110.49,151.08,254.88,205.73,252.97,...,324.88,86.39,377.32,222.54,401.82,519.22,618.05,744.43,203.92,88.8
2,47,hd1_11:56,d1,11:56:00,h,213.34,243.68,321.85,233.53,256.91,...,306.57,134.28,203.64,207.07,1286.92,1342.47,1454.44,1342.41,503.00,337.7
3,81,hd1_12:00,d1,12:00:00,h,1228.16,1490.32,1973.10,1331.70,1815.73,...,1715.90,898.51,1417.46,1547.77,7767.75,8234.15,9672.18,8703.50,2898.13,1591.4
4,95,hd1_12:12,d1,12:12:00,h,1461.90,1777.85,2430.89,1644.01,2152.24,...,2599.01,978.90,1438.42,2290.29,11088.84,10993.26,11545.24,10207.90,3938.12,2324.2
5,72,hd1_12:121,d1,12:12:01,h,1708.38,1974.74,2121.03,3134.18,2068.71,...,6053.69,1346.69,1751.86,2151.82,7258.62,7604.07,8991.38,8281.92,2623.77,1460.9
6,75,hd1_12:122,d1,12:12:02,h,1334.41,1664.79,2568.82,1677.37,2280.70,...,2347.35,850.18,1825.73,2630.38,9100.88,10632.99,11870.17,10713.80,3844.81,1993.0
7,45,hd1_12:24,d1,12:24:00,h,1295.31,1077.04,1452.33,1426.23,1223.10,...,1975.57,908.77,1388.51,1441.52,3020.31,3814.67,5259.87,4984.68,1673.38,793.8
8,102,hd1_14:24,d1,14:24:00,h,277.93,305.08,368.83,216.85,256.91,...,241.37,113.33,227.59,241.79,818.52,1079.19,1340.97,1456.69,459.13,247.9

In [83]:
ud1_id=id[(id['day']=='d1') & (id['class']=='u')]
ud1_id=ud1_id.sort_values(by='time')
ud1_id=ud1_id.reset_index(drop=True)
ud1_id

,Unnamed: 0.1,Unnamed: 0,image_name,folder,date,time,day,class
0,0,0,IMG_20250301_114507.jpg,ad1//u,1,11:45,d1,u
1,1,1,IMG_20250301_115341.jpg,ad1//u,1,11:53,d1,u
2,2,2,IMG_20250301_115705.jpg,ad1//u,1,11:57,d1,u
3,3,3,IMG_20250301_120034.jpg,ad1//u,1,12:00,d1,u
4,4,4,IMG_20250301_121320.jpg,ad1//u,1,12:13,d1,u
5,5,5,IMG_20250301_121808.jpg,ad1//u,1,12:18,d1,u
6,6,6,IMG_20250301_121924.jpg,ad1//u,1,12:19,d1,u
7,7,7,IMG_20250301_122525.jpg,ad1//u,1,12:25,d1,u
8,8,8,IMG_20250301_142812.jpg,ad1//u,1,14:28,d1,u

In [85]:
merge_df=pd.concat([ud1_sp,ud1_id],axis=1)
merge_df[['time','time_s']]

    time    time_s
0  11:45  11:45:00
1  11:53  11:54:00
2  11:57  11:56:00
3  12:00  12:00:00
4  12:13  12:12:00
5  12:18  12:12:01
6  12:19  12:12:02
7  12:25  12:24:00
8  14:28  14:24:00