In [1]:
import pandas as pd

sp=pd.read_csv('spectro_18.csv')
id=pd.read_csv('img_data.csv')

In [2]:
lis=sp['time_s'].to_list()

for i in range(len(lis)):
    if lis[i]=='14:24:00':
        sp=sp.drop(index=i)

In [3]:
sp.loc[sp['Records']=='ud1_02:24','Records'] = 'ud1_14:24'
sp.loc[sp['Records']=='ud1_14:24','time_s'] = '14:24:00'
sp.loc[sp['Records']=='hd1_02:24','Records'] = 'hd1_14:24'
sp.loc[sp['Records']=='hd1_14:24','time_s'] = '14:24:00'

In [4]:
ud1_sp=sp[(sp['day_s']=='d1') & (sp['class_s']=='u')]
ud1_sp=ud1_sp.sort_values(by='time_s')
ud1_sp=ud1_sp.reset_index(drop=True)
ud1_sp

,Unnamed: 0,Records,day_s,time_s,class_s,410,435,460,485,510,...,610,645,680,705,730,760,810,860,900,940
0,14,ud1_11:43,d1,11:43:00,u,417.32,512.69,857.61,480.97,510.68,...,679.50,338.28,701.74,653.83,1933.91,2201.59,2225.50,2375.30,1037.52,687.4
1,48,ud1_11:54,d1,11:54:00,u,89.24,95.52,144.93,86.19,102.45,...,113.25,52.60,131.76,118.80,394.77,504.55,667.05,651.24,239.76,127.6
2,52,ud1_11:56,d1,11:56:00,u,115.59,137.43,198.91,115.84,136.34,...,136.13,59.87,134.76,118.38,506.00,633.33,640.40,720.02,274.36,167.4
3,83,ud1_12:00,d1,12:00:00,u,1070.08,1686.23,2807.71,768.26,1004.01,...,1134.78,1469.85,1739.88,879.30,4066.77,4191.25,4162.17,4462.14,1876.06,1281.4
4,65,ud1_12:12,d1,12:12:00,u,502.31,498.07,537.75,618.13,640.71,...,1205.70,545.69,469.16,387.78,1857.93,1266.67,2044.98,1930.41,486.32,382.1
5,71,ud1_12:121,d1,12:12:01,u,979.13,1253.46,1945.11,1356.73,1745.60,...,2849.53,1138.42,3047.54,1915.47,4550.83,4910.98,5690.53,6088.57,2224.58,1343.4
6,74,ud1_12:122,d1,12:12:02,u,1240.06,1335.34,1653.24,1885.89,1794.46,...,3847.04,1712.76,2473.57,1600.90,5013.75,4179.02,5614.02,5140.00,1908.19,1317.5
7,54,ud1_12:24,d1,12:24:00,u,1234.11,1567.32,2354.92,1747.80,2077.38,...,2941.05,1252.18,2777.02,2203.28,6600.67,7316.34,7995.11,7837.04,2947.57,1610.8
8,103,ud1_14:24,d1,14:24:00,u,771.75,1405.52,1815.17,1138.02,1340.52,...,1906.93,821.10,1498.32,1023.62,3336.76,3175.63,3331.80,3089.77,1014.66,678.2

In [5]:
ud1_id=id[(id['day']=='d1') & (id['class']=='u')]
ud1_id=ud1_id.sort_values(by='time')
ud1_id=ud1_id.reset_index(drop=True)
ud1_id

,Unnamed: 0.1,Unnamed: 0,image_name,folder,date,time,day,class
0,0,0,IMG_20250301_114507.jpg,ad1//u,1,11:45,d1,u
1,1,1,IMG_20250301_115341.jpg,ad1//u,1,11:53,d1,u
2,2,2,IMG_20250301_115705.jpg,ad1//u,1,11:57,d1,u
3,3,3,IMG_20250301_120034.jpg,ad1//u,1,12:00,d1,u
4,4,4,IMG_20250301_121320.jpg,ad1//u,1,12:13,d1,u
5,5,5,IMG_20250301_121808.jpg,ad1//u,1,12:18,d1,u
6,6,6,IMG_20250301_121924.jpg,ad1//u,1,12:19,d1,u
7,7,7,IMG_20250301_122525.jpg,ad1//u,1,12:25,d1,u
8,8,8,IMG_20250301_142812.jpg,ad1//u,1,14:28,d1,u

In [6]:
ud1=pd.concat([ud1_sp,ud1_id],axis=1)
ud1[['time','time_s']]

    time    time_s
0  11:45  11:43:00
1  11:53  11:54:00
2  11:57  11:56:00
3  12:00  12:00:00
4  12:13  12:12:00
5  12:18  12:12:01
6  12:19  12:12:02
7  12:25  12:24:00
8  14:28  14:24:00

In [7]:
hd1_sp=sp[(sp['day_s']=='d1') & (sp['class_s']=='h')]
hd1_sp=hd1_sp.sort_values(by='time_s')
hd1_sp=hd1_sp.reset_index(drop=True)

hd1_id=id[(id['day']=='d1') & (id['class']=='h')]
hd1_id=hd1_id.sort_values(by='time')
hd1_id=hd1_id.reset_index(drop=True)

hd1=pd.concat([hd1_sp,hd1_id],axis=1)
hd1[['time','time_s']]

    time    time_s
0  11:46  11:45:00
1  11:54  11:54:00
2  11:57  11:56:00
3  12:00  12:00:00
4  12:14  12:12:00
5  12:21  12:12:01
6  12:21  12:12:02
7  12:33  12:24:00
8  14:28  14:24:00

In [8]:
hd2_sp=sp[(sp['day_s']=='d2') & (sp['class_s']=='h')]
hd2_sp=hd2_sp.sort_values(by='time_s')
hd2_sp=hd2_sp.reset_index(drop=True)

hd2_id=id[(id['day']=='d2') & (id['class']=='h')]
hd2_id=hd2_id.sort_values(by='time')
hd2_id=hd2_id.reset_index(drop=True)

hd2=pd.concat([hd2_sp,hd2_id],axis=1)
hd2[['time','time_s']]

    time    time_s
0  09:19  09:16:00
1  09:21  09:20:00
2  09:27  09:25:00
3  09:42  09:40:00
4  09:50  09:49:00
5  09:52  09:51:00

In [9]:
ud2_sp=sp[(sp['day_s']=='d2') & (sp['class_s']=='u')]
ud2_sp=ud2_sp.sort_values(by='time_s')
ud2_sp=ud2_sp.reset_index(drop=True)

ud2_id=id[(id['day']=='d2') & (id['class']=='u')]
ud2_id=ud2_id.sort_values(by='time')
ud2_id=ud2_id.reset_index(drop=True)

ud2=pd.concat([ud2_sp,ud2_id],axis=1)
ud2[['time','time_s']]

    time    time_s
0  09:18  09:16:00
1  09:20  09:20:00
2  09:25  09:25:00
3  09:41  09:40:00
4  09:48  09:49:00
5  09:51  09:51:00

In [10]:
hd3_sp=sp[(sp['day_s']=='d3') & (sp['class_s']=='h')]
hd3_sp=hd3_sp.sort_values(by='time_s')
hd3_sp=hd3_sp.reset_index(drop=True)

hd3_id=id[(id['day']=='d3') & (id['class']=='h')]
hd3_id=hd3_id.sort_values(by='time')
hd3_id=hd3_id.reset_index(drop=True)

hd3=pd.concat([hd3_sp,hd3_id],axis=1)
hd3[['time','time_s']]

    time    time_s
0  07:56  07:54:00
1  08:05  08:04:00
2  08:12  08:08:00
3  08:14  08:13:00
4  18:31  18:30:00
5  18:37  18:35:00
6  18:37  18:35:01
7    NaN  18:35:02

In [11]:
ud3_sp=sp[(sp['day_s']=='d3') & (sp['class_s']=='u')]
ud3_sp=ud3_sp.sort_values(by='time_s')
ud3_sp=ud3_sp.reset_index(drop=True)

ud3_id=id[(id['day']=='d3') & (id['class']=='u')]
ud3_id=ud3_id.sort_values(by='time')
ud3_id=ud3_id.reset_index(drop=True)

ud3=pd.concat([ud3_sp,ud3_id],axis=1)
ud3[['time','time_s']]

     time    time_s
0   07:54  07:54:00
1   07:54  08:04:00
2   08:05  08:08:00
3   08:09  08:08:01
4   08:09  08:08:02
5   08:13  08:13:00
6   08:14  08:13:01
7   08:17  18:30:00
8   18:31  18:33:00
9   18:34  18:33:01
10  18:34  18:33:02
11  18:35  18:37:00

In [12]:
hd4_sp=sp[(sp['day_s']=='d4') & (sp['class_s']=='h')]
hd4_sp=hd4_sp.sort_values(by='time_s')
hd4_sp=hd4_sp.reset_index(drop=True)

hd4_id=id[(id['day']=='d4') & (id['class']=='h')]
hd4_id=hd4_id.sort_values(by='time')
hd4_id=hd4_id.reset_index(drop=True)

hd4=pd.concat([hd4_sp,hd4_id],axis=1)
hd4[['time','time_s']]

     time    time_s
0   08:17  08:16:00
1   08:17  08:16:01
2   08:19  08:19:00
3   08:19  08:25:00
4   08:20  08:26:00
5   08:20  08:26:01
6   08:25  08:29:00
7   08:25  08:30:00
8   08:28  08:37:00
9   08:28  08:40:00
10  08:29  08:45:00
11  08:31  08:46:00
12  08:38  09:08:00
13  08:41  09:10:00
14  08:48  09:17:00
15  09:09  09:50:00
16  09:12  10:04:00
17  09:18       NaN
18  09:51       NaN
19  10:05       NaN

In [13]:
ud4_sp=sp[(sp['day_s']=='d4') & (sp['class_s']=='u')]
ud4_sp=ud4_sp.sort_values(by='time_s')
ud4_sp=ud4_sp.reset_index(drop=True)

ud4_id=id[(id['day']=='d4') & (id['class']=='u')]
ud4_id=ud4_id.sort_values(by='time')
ud4_id=ud4_id.reset_index(drop=True)

ud4=pd.concat([ud4_sp,ud4_id],axis=1)
ud4[['time','time_s']]

     time    time_s
0   08:27  08:16:00
1   08:27  08:16:01
2   08:29  08:19:00
3   08:30  08:25:00
4   08:40  08:26:00
5   08:44  08:26:01
6   08:48  08:29:00
7   08:54  08:30:00
8   08:55  08:35:00
9   08:55  08:40:00
10  09:09  08:45:00
11  09:11  08:46:00
12  09:12  08:53:00
13  09:17  08:54:00
14  09:50  08:54:01
15  10:03  09:08:00
16  10:04  09:10:00
17    NaN  09:10:01
18    NaN  09:17:00
19    NaN  09:49:00
20    NaN  10:03:00
21    NaN  10:04:00

In [14]:
hd5_sp=sp[(sp['day_s']=='d5') & (sp['class_s']=='h')]
hd5_sp=hd2_sp.sort_values(by='time_s')
hd5_sp=hd2_sp.reset_index(drop=True)

hd5_id=id[(id['day']=='d5') & (id['class']=='h')]
hd5_id=hd5_id.sort_values(by='time')
hd5_id=hd5_id.reset_index(drop=True)

hd5=pd.concat([hd5_sp,hd5_id],axis=1)
hd5[['time','time_s']]

    time    time_s
0  13:25  09:16:00
1  13:26  09:20:00
2  13:33  09:25:00
3  13:40  09:40:00
4  13:42  09:49:00
5  17:13  09:51:00
6  17:17       NaN

In [15]:
ud5_sp=sp[(sp['day_s']=='d5') & (sp['class_s']=='u')]
ud5_sp=ud5_sp.sort_values(by='time_s')
ud5_sp=ud5_sp.reset_index(drop=True)

ud5_id=id[(id['day']=='d5') & (id['class']=='u')]
ud5_id=ud5_id.sort_values(by='time')
ud5_id=ud5_id.reset_index(drop=True)

ud5=pd.concat([ud5_sp,ud5_id],axis=1)
ud5[['time','time_s']]

    time    time_s
0  13:21  13:20:00
1  13:23  13:21:00
2  13:32  13:30:00
3  13:38  13:38:00
4  13:40  13:39:00
5  13:46  13:46:00
6  17:13  17:12:00
7  17:17  17:16:00

In [16]:
df = pd.concat([ud1,hd1,ud2,hd2,ud3,hd3,ud4,hd4,ud5,hd5],axis=0)

In [17]:
df=df.dropna(axis=0)
df.columns

Index(['Unnamed: 0', 'Records', 'day_s', 'time_s', 'class_s', '410', '435',
       '460', '485', '510', '535', '560', '585', '610', '645', '680', '705',
       '730', '760', '810', '860', '900', '940', 'Unnamed: 0.1', 'Unnamed: 0',
       'image_name', 'folder', 'date', 'time', 'day', 'class'],
      dtype='object')

In [18]:
drop_lis=['Unnamed: 0', 'day_s', 'day', 'time', 'time_s', 'Unnamed: 0.1', 'Unnamed: 0', 'date']

df=df.drop(drop_lis,axis=1)

In [1]:
# df.to_csv('plant_spectro_image_processed.csv')
import pandas as pd
df=pd.read_csv('plant_spectro_image_processed.csv')